<form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
  <div formGroupName="userData">
    <label>username: <input name="username" formControlName="firstName"> </label>
    <label>lastname: <input name="lastName" formControlName="lastName"></label>
  </div>
  <label>age: <input name="age" formControlName="age"></label>
  <label>country: <input name="country" formControlName="country"></label>
  <button type="submit">Wyślij</button>
</form>
<div>
  <div>userId: {{object.userId}}</div>
  <div>id: {{object.id}}</div>
  <div>title: {{object.title}}</div>
  <div>body: {{object.body}}</div>
</div>
